body {
  background-color: rgb(158, 25, 25);
  box-sizing: border-box;
  font-size: 1.125rem;
  margin: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.scroll {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  z-index: -1;
}

.bg {
  transform: translateZ(-10px) scale(2);
  background: repeating-linear-gradient(0.65turn, transparent, rgb(133, 133, 213) .5rem),
  repeating-linear-gradient(0.35turn, rgb(136, 0, 255), transparent .5rem);
}

.img {
  transform: translateZ(-5px) scale(1.5);
}

.img-small {
  transform: translateZ(-5px) scale(0.8);
  opacity: 0.4;
}

.titl {
  transform: translateZ(-10px) scale(.5);
}

.bg,
.img,
.titl {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-size: 2em;
  color: rgb(72, 217, 20);
}

section {
  font-size: 2rem;
  background: pink;
  color:rgb(158, 25, 25);
}