
<section id="about" class="about">
    <div class="bg"></div>
    <div class="title-wrap archivo-test">
        <h2>ABOUT ME</h2>
    </div>

    <div class="content-wrap archivo-test">

        <div class="content-card">
            <p>Resume</p>
            <img src="../public/img/me.png" alt="" class="content-card__img">
        </div>

        <div class="content-card">

            <p>hello, my name is Nikola and I'm</p>
            <p>
                web designer, creative coder and developer<br/>
                based in Berlin
            </p>

            <p>
                I love creating functional solutions with unconventional design <br/>
                experimenting with motion graphics and
            </p>
            <p>interactions</p>

            <p>
                My MA degree in philosophy and art history, together with experience in web development <br/>
                resulted in interest for deeper creative exploration of web and computational aesthetics.
            </p>
            <p>
                My designs are inspired by renaissance paintings, post-modern deconstruction, <br/>
                early graffitti, album art and fonts, as well as the aesthetics of<br/>
                pre-2001 Internet era. <br/>
                I like to call it digital situationism.
            </p>
        </div>

    </div>
</section>
