<section class="welcome">

    <div class="bg"></div>
    <!-- <img class="fg" src="../public/img/back.png" alt=""/> -->

    <div class="title-wrap archivo-test">
        <h2>web design and development</h2>
    </div>

    <nav class="nav-main archivo-test">
        <a href="about" class="nav-btn">About</a>
        <a href="work" class="nav-btn">Work</a>
        <a href="contact" class="nav-btn">Contact</a>
    </nav>

    <div class="content-wrap archivo-test">

        <div class="content-card">
            <p>I'm Nikola, web developer and designer based in Berlin.
            This is my website/portfolio. At the moment, it's a playground and test site for ideas and sketches.
            <p>Most of it is still under construction, but have fun</p>
            <p>check my <a href="https://www.youtube.com/@aywar">YouTube</a> channel</p>
        </div>

        <div class="content-card filter-test">
            <p>Lorem, ipsum.</p>
            <img src="../public/img/back.png" alt="">
        </div>

        <div class="content-card">
            <p>more content</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam adipisci nihil, fugit expedita quas corrupti consectetur excepturi nesciunt iusto. Eveniet.</p>
        </div>
    </div>

    <!-- <div class="more-content">
        <div class="text-wrap">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, modi.</p>
            <div class="deco"></div>
        </div>
        <div class="welcome-card">
            <img class="filter-test" src="../public/img/back.png" alt="">
        </div>
    </div> -->

    <div class="project-preview">
        <h3>title</h3>
        <div class="preview-wrap">
            <div class="preview-card">
                <img src="../public/img/golf.png" alt="" class="preview-img">
                <p>title</p>
            </div>
            <div class="preview-card">
                <img src="../public/img/golf.png" alt="" class="preview-img">
                <p>title</p>
            </div>
            <div class="preview-card">
                <img src="../public/img/golf.png" alt="" class="preview-img">
                <p>title</p>
            </div>
            <div class="preview-card">
                <img src="../public/img/golf.png" alt="" class="preview-img">
                <p>title</p>
            </div>
            <div class="preview-card">
                <img src="../public/img/golf.png" alt="" class="preview-img">
                <p>title</p>
            </div>

        </div>

    </div>

</section>
